.movie-details-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: auto;
  background: #060d2c;
  border-radius: 35px;
  margin: 5px;
  padding: 26px 15px 30px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    height: 90px;
    width: 100%;
    background: linear-gradient(180deg, rgba(195, 34, 34, 0) 0%, $black 55%);
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    border-radius: 0 0 30px 30px;
  }

  .head {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 25px;
  }
  .head-title {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
  }
  .affiche {
    width: 100%;
    height: auto;
    max-height: 450px;
  }
  .trailer {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .movie-details-container {
    display: flex;
    flex-direction: row;
    height: 620px;

    .head {
      flex-direction: row-reverse;
      justify-content: center;
      margin-top: 100px;
      margin-bottom: 50px;
      margin-left: 100px;
    }
    .head-title {
      margin-left: 100px;
      width: 30%;
    }
    .trailer {
      margin-right: 100px;
    }
  }
}
